.mailing {
  font-weight: bold;
  line-height: 1.21;
  text-transform: uppercase;
  color: #ffffff;

  &__text {
    margin-bottom: 20px;
  }

  &__form {
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__input {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    padding-left: 16px;
    outline: none;
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: unset;
    }
  }

  &__btn {
    display: flex;
    padding-left: 29px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }

  &__logo {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    display: block;
    fill: #ffffff;
  }
}
