.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #ffffff;
  padding: 48px 0 48px 25px;
  z-index: 1;

  .container {
    position: relative;
    height: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }

  &__list .link:hover,
  &__list .link:focus {
    color: $accentColor;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }
  &__list-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
  }
  &__contacts {
    margin-bottom: 64px;
    & .link:hover,
    & .link:focus {
      color: $accentColor;
    }
  }

  &__contacts-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__contacts-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
  &__contacts-link_size_big {
    font-size: 24px;
    line-height: 1.18;
    @media screen and (min-width: 480px) {
      font-size: 34px;
    }
  }
  &__contacts-link_size_small {
    font-size: 24px;
    line-height: 1.17;
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
  }

  &__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
    margin-bottom: 10px;
    @media screen and (min-width: 480px) {
      margin-bottom: unset;
    }
  }

  &__social-item {
    &:not(:last-child) {
      margin-right: 10px;
      display: flex;
      &::after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: rgba(33, 33, 33, 0.2);
        display: block;
        margin-left: 10px;
      }
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
  }
}

.menu-open {
  background: unset;
  border: none;
  font-size: 26px;
  margin-left: auto;
  padding: 0px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.btn-close {
  position: absolute;
  right: 25px;
  top: -27px;
  border: none;
  background-color: unset;
}
