.link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #212121;
}

body {
  background-color: $primaryBackgroundColor;
  color: $primaryTextColor;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.03em;
}
