// :root {
//   --primary-text-color: #212121;
//   --secondary-text-color: #757575;
//   --accent-color: #2196f3;
//   --primary-background-color: #ffffff;
//   --secondary-background-color: #2f303a;
//   --tertiary-background-color: #f5f4fa;
// }

$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$primaryBackgroundColor: #ffffff;
$secondaryBackgroundColor: #2f303a;
$tertiaryBackgroundColor: #f5f4fa;
